<% include ./partials/header %>
<h1>Add Course</h1>
<h3><%= course.subjectCode %>-<%= course.subjectNumber %> <%= course.name %> <%= course.credits %> credits</h3>
<p><%= course.description %></p>
<h4>Please provide the following information</h4>
<form action="/add-course" method="POST">
    <div class="form-group">
        <label for="instructor">Instructor</label>
        <input type="text" name="instructor" class="form-control">
    </div>
    <div class="form-group">
        <label for="semester">Semester Completed</label>
        <input type="text" name="semester" class="form-control">
    </div>
    <div class="form-group">
        <label for="grade">Grade</label>
        <select name="letterGrade" class="form-control">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="F">F</option>
        </select>
    </div>
    <input type="hidden" name="_id" value="<%= course._id %>">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% include ./partials/footer %>