<% include ./partials/header %>
<div class="header text-center">
  <h1><%= student.firstName %> <%= student.lastName %></h1>
  <h3><%= student.classification ? student.classification : 'No Classification' %></h3>
  <a href="mailto:<%= student.email %>"><%= student.email %></a>
</div>
<hr>
<div class="classes">
  <% student.completedCourses.forEach(course => { %>
    <div class="class">
      <h3><%= course.subjectCode %>-<%= course.subjectNumber %> <%= course.name %></h3>
      <p><%= course.description %></p>
    </div>
  <% }) %>
</div>
<% include ./partials/footer %>