<% include ./partials/header %>
<h1>My Info</h1>
<a href="/completed-courses" class="btn btn-info">View Completed Courses</a>
<form action="/info" method="POST">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" name="firstName" value='<%= user.firstName %>' id="firstName"> 
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" value='<%= user.lastName %>' id="lastName">
    </div>
    <div class="form-group">
        <label for="majorCode">Major</label>
        <select name="majorCode" id="majorCode" class="form-control">
            <option value="" disabled selected hidden><%= user.majorName ? user.majorName : 'Select a major'%></option>
            <option value="UND">Undeclared</option>
            <option value="A&S">Arts and Sciences</option>
            <option value="AADM">Arts Administration</option>
            <option value="ACCT">Accounting</option>
            <option value="AERO">Aerospace Studies</option>
            <option value="ANTH">Anthropology</option>
            <option value="BA">Business Administration</option>
            <option value="BIOS">Biological Sciences</option>
            <option value="CHEM">Chemistry</option>
            <option value="COBA">Co-Operative Education - BADM</option>
            <option value="COEN">Co-Operative Education - ENGR</option>
            <option value="COLA">Co-Operative Education - LA</option>
            <option value="COSC">Co-Operative Education - SC</option>
            <option value="CSCI">Computer Science</option>
            <option value="DURB">Urban Studies-DURB</option>
            <option value="ECON">Economics</option>
            <option value="EDAD">Educational Administration</option>
            <option value="EDCI">Curriculum and Instruction</option>
            <option value="EDFR">Educ Foundations and Res-EDFR</option>
            <option value="EDGC">Counselor Education</option>
            <option value="EDHP">Human Performance-EDHP</option>
            <option value="EDHS">Health Promotion-EDHS</option>
            <option value="EDLS">Library Science</option>
            <option value="EDSP">Spec Educ and Habilitative Svcs</option>
            <option value="EDUC">Education</option>
            <option value="EES">Earth and Environmental Sci-EES</option>
            <option value="ENAS">Engineering and Applied Science</option>
            <option value="ENCE">Civil and Environmental Engr</option>
            <option value="ENEE">Electrical Engineering</option>
            <option value="ENGL">English</option>
            <option value="ENGR">Engineering</option>
            <option value="ENME">Mechanical Engineering</option>
            <option value="ENMG">Engineering Management</option>
            <option value="FA">Fine Arts</option>
            <option value="FIN">Finance</option>
            <option value="FREN">French</option>
            <option value="FTA">Film and Theatre</option>
            <option value="GEOG">Geography</option>
            <option value="GER">German</option>
            <option value="HCM">Health Care Management</option>
            <option value="HIST">History</option>
            <option value="HRT">Hotel, Restaurant and Tourism Administration</option>
            <option value="IDS">Interdisciplinary Studies</option>
            <option value="IS">International Studies</option>
            <option value="ITAL">Italian</option>
            <option value="JAPN">Japanese</option>
            <option value="JOUR">Journalism</option>
            <option value="LAT">Latin</option>
            <option value="MANG">Management</option>
            <option value="MATH">Mathematics</option>
            <option value="MILS">Military Science - MILS</option>
            <option value="MKT">Marketing</option>
            <option value="MURP">Urban and Regional Planning</option>
            <option value="MUS">Music</option>
            <option value="NAME">Naval Architecture and Marine Engineering</option>
            <option value="NAVS">Naval Science - NAVS</option>
            <option value="NSE">National Student Exchange</option>
            <option value="PADM">Public Administration</option>
            <option value="PHIL">Philosophy</option>
            <option value="PHYS">Physics</option>
            <option value="POLI">Political Science</option>
            <option value="PSYC">Psychology</option>
            <option value="QMBE">Quant Meth - Bus and Econ</option>
            <option value="ROML">Romance Languages</option>
            <option value="SOC">Sociology</option>
            <option value="SPAN">Spanish</option>
            <option value="TRNS">Transportation</option>
            <option value="UNIV">Univ</option>
            <option value="URBN">Urban Studies</option>
            <option value="WGS">Womens and Gender Studies</option>
        </select>
    </div>
    <div class="form-group">
        <label for="classification">Classification</label>
        <select name="classification" class="form-control" id="classification">
            <option value="" disabled selected hidden><%= user.classification ? user.classification : 'Select a classification'%></option>
            <option value="Freshman">Freshman</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
            <option value="Graduate">Graduate</option>
            <option value="PhD">PhD</option>
        </select>
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="share" class="custom-control-input" id="customCheck1" value="true" <%= user.share ? 'checked' : '' %>>
            <label class="custom-control-label" for="customCheck1">Share profile with other students in your major</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<button class="btn btn-info" id="pdf">PDF</button>
<% include ./partials/footer %>